*
{
    margin: 0px;
    padding: 0px;
}
body
{
    font-family: montserrat;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: row;
    align-items: center;
    
}
